<nav class="navbar navbar-expand-lg navbar-light bg-dark">
 <div class="container">
      <a class="navbar-brand" href="/">registro de inicios de sesion</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      
    </ul>
    
    <ul class="navbar-nav ml-auto">
        {{#if user}}
         <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/notes">Registros</a>
          <a class="dropdown-item" href="/notes/add">agregar registro</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/users/logout">Salir</a>
        </div>
        </li>
        {{else}}
           <li class="nav-item active">
        <a class="nav-link" href="/users/signup">Registrarse <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="/users/signin">Iniciar sesion <span class="sr-only">(current)</span></a>
      </li>
        {{/if}}

      </ul>
  </div>
 </div>
</nav>