
<div class=".col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Registro Nuevo</h3>
        </div>
        <div class="card-body">
            <form action="/notes/Nueva-Nota" method="POST">
            <div class="form-group">
                <button name="guardar" class="btn btn-primary btn-block" type ="submit">Generar registro</button>
            </div>
            </form>
        </div>
    </div>
</div>